{% load static %}
<!-- header -->
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Shopee Master - Slider Version</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'guest/assets/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'guest/assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'guest/assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'guest/assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'guest/assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'guest/assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'guest/assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'guest/assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'guest/assets/css/responsive.css' %}">

</head>
<div id="sticker-sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 152px;"><div class="top-header-area" id="sticker" style="width: 1800px; position: fixed; top: 0px; z-index: inherit;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="/static/guest/assets/img/logo1.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu" style="display: block;">
							<ul>
								<li class="current-list-item"><a href="/Guest/home/">Home</a>

								</li>
								<li><a href="about.html">About</a></li>
								<li><a href="#">Pages</a>
									<ul class="sub-menu">
										<li><a href="404.html">404 page</a></li>
										<li><a href="about.html">About</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="login.html">News</a></li>
										<li><a href="shop.html">Shop</a></li>
									</ul>
								</li>
								<li><a href="news.html">News</a>
									<ul class="sub-menu">
										<li><a href="news.html">News</a></li>
										<li><a href="single-news.html">Single News</a></li>
									</ul>
								</li>

                                <li><a href="">Registration</a>
								<ul class="sub-menu">
									<li><a href="/Guest/shopregister/">Shop Registration</a></li>
									<li><a href="/Guest/comregister/">Company Registration</a></li>
								</ul>
								</li>
									<li><a href="/Guest/login/">Login</a></li>
<!--								<li><a href="shop.html">Shop</a>-->
<!--									<ul class="sub-menu">-->
<!--										<li><a href="shop.html">Shop</a></li>-->
<!--										<li><a href="checkout.html">Check Out</a></li>-->
<!--										<li><a href="single-product.html">Single Product</a></li>-->
<!--										<li><a href="cart.html">Cart</a></li>-->
<!--									</ul>-->
<!--								</li>-->
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div></div>
<!--	<div class="top-header-area" id="sticker">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-12 col-sm-12 text-center">-->
<!--					<div class="main-menu-wrap">-->
<!--						&lt;!&ndash; logo &ndash;&gt;-->
<!--						<div class="site-logo">-->
<!--							<a href="index.html">-->
<!--								<img src="{% static 'guest/assets/img/logo1.png' %}" alt="">-->
<!--							</a>-->
<!--						</div>-->
<!--						&lt;!&ndash; logo &ndash;&gt;-->

<!--						&lt;!&ndash; menu start &ndash;&gt;-->
<!--						<nav class="main-menu">-->
<!--							<ul>-->
<!--								<li class="current-list-item"><a href="/Guest/home/">Home</a>-->

<!--								</li>-->
<!--								<li><a href="about.html">About</a></li>-->
<!--								<li><a href="#">Pages</a>-->
<!--									<ul class="sub-menu">-->
<!--										<li><a href="404.html">404 page</a></li>-->
<!--										<li><a href="about.html">About</a></li>-->
<!--										<li><a href="cart.html">Cart</a></li>-->
<!--										<li><a href="checkout.html">Check Out</a></li>-->
<!--										<li><a href="contact.html">Contact</a></li>-->
<!--										<li><a href="login.html">News</a></li>-->
<!--										<li><a href="shop.html">Shop</a></li>-->
<!--									</ul>-->
<!--								</li>-->
<!--								<li><a href="news.html">News</a>-->
<!--									<ul class="sub-menu">-->
<!--										<li><a href="news.html">News</a></li>-->
<!--										<li><a href="single-news.html">Single News</a></li>-->
<!--									</ul>-->
<!--								</li>-->

<!--                                <li><a href="">Registration</a>-->
<!--								<ul class="sub-menu">-->
<!--									<li><a href="/Guest/shopregister/">Shop Register</a></li>-->
<!--									<li><a href="/Guest/comregister/">Company Register</a></li>-->
<!--								</ul>-->
<!--								</li>-->
<!--									<li><a href="/Guest/login/">Login</a></li>-->
<!--&lt;!&ndash;								<li><a href="shop.html">Shop</a>&ndash;&gt;-->
<!--&lt;!&ndash;									<ul class="sub-menu">&ndash;&gt;-->
<!--&lt;!&ndash;										<li><a href="shop.html">Shop</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;										<li><a href="checkout.html">Check Out</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;										<li><a href="single-product.html">Single Product</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;										<li><a href="cart.html">Cart</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;									</ul>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--								<li>-->
<!--									<div class="header-icons">-->
<!--										<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>-->
<!--										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>-->
<!--									</div>-->
<!--								</li>-->
<!--							</ul>-->
<!--						</nav>-->
<!--						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>-->
<!--						<div class="mobile-menu"></div>-->
<!--						&lt;!&ndash; menu end &ndash;&gt;-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
	<!-- end header -->