<!DOCTYPE html>
{% load static %}
{% include 'admin/header.html' %}
<html>
<head>
     <script src="{% static '/jquery.min.js' %}"></script>
   <script>
	$(document).ready(function()
	{

$.ajaxSetup({
		headers : {"X-CSRFToken" : '{{csrf_token}}'}
		});
		$("#district").change(function()
		{

		var districtid=$(this).val();
		var i=1;
		$.ajax({
				type:"POST",
				url : '{% url "filllocation" %}',
				data : {did :districtid},
				dataType:"json",
				success : function(data)
				{
				$('#location').empty();
                    // Populate table with new data
                    $.each(data,function(key,val) {
                    var id=val.locationid;
                    var editUrl = '{% url "locationedit" 0 %}'.replace('0', id);
                    var deleteUrl = '{% url "deletelocation" 0 %}'.replace('0', id);
                    var row = "<tr><td>" + i++ + "</td><td>" + val.locationname + "</td><td><a href='"+editUrl+"'>Edit</a></td> <td><a href='"+deleteUrl+"'>Delete</a></td></tr>";
					      $('#location').append(row);
                    });
                 }
                 });
		});
	});
</script>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<div class="main-panel">
    <h2><center><u><b>Location Details</b></u></center></h2>
     <div class="col-md-8">
						 Please Select District:
                        <select id="district" name="district" class="form-select">
                            <option selected>Choose district</option>
                            {% for d in district %}
                            <option value="{{d.districtid}}">{{d.districtname}}</option>
                            {% endfor %}
                        </select>

                    </div><br><br>
<table>
  <thead>
  <tr>
  <th scope="col">Sl.no</th>
<!--      <th scope="col">District Name</th>-->
      <th scope="col">Location Name</th>
        <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
    <tbody id="location">
  {% for em in location %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
<!--        <td>{{em.districtid.districtname}}</td>-->
        <td>{{em.locationname}}</td>
        <td><a href="{% url 'locationedit' id=em.locationid %}"><button type="button" class="btn btn-warning">Edit</button> </a> </td>
        <td><a href="{% url 'deletelocation' id=em.locationid %}" onclick="return confirm('Are u delete?')"><button type="button" class="btn btn-primary">Delete</button>
        </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>
{% include 'admin/footer.html' %}

