
<!DOCTYPE html>
{% load static %}
{% include 'admin/header.html' %}
<style>
    /* Style for the input field */
    .input-field {
        border: none; /* Remove the default border */
        border-bottom: 1px solid black; /* Add a bottom border */
        outline: none; /* Remove the outline when focused */
        padding: 5px 0; /* Optional padding */
    }
</style>
<div class="main-panel">

<div class="content">
	<center>
            <div class="container-fluid">
<div class="col-md-2">

</div>

                    <div class="col-md-8">
                        <div class="card">

							<div class="container-login100">
								<div class="wrap-login100">
							<div class="login100-form-title" style="background-image: url({% static 'admin/img/faces/bg-01.jpg' %});">
					<h2><span class="login100-form-title-1" style="background-color: white">
						<br><br>
						<b>Location Registration</b>
						<br><br>
					</span></h2>
				</div>
							<br>
									<form class="login100-form validate-form p-b-33 p-t-5" method="post" action="{% url 'location' %}">
   				 {% csrf_token %}

<!--					 <div class="col-md-8">-->
										<label for="locationname">Please Select District:</label><br>
                        <select id="district" name="district" class="input-field">
                            <option selected>Choose district</option>
                            {% for d in district %}
                            <option value="{{d.districtid}}">{{d.districtname}}</option>
                            {% endfor %}
                        </select><br><br>

<!--                    </div><br>-->
					 <label for="locationname">Enter Location Name:</label><br>
    <input type="text" id="locationname" name="locationname" class="input-field"><br><br>
<!--					<div class="col-md-8"> Enter Location name:-->
<!--						<input type="text" name="locationname" placeholder="Location name">-->

<!--					</div><br>-->
										<br><br>


					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn" style="background-color:#3fab4c">
							Register
						</button><br><br><br><br><br><br>
					</div>


				</form>
                        </div>
                    </div>


                </div>
            </div>
				</div>

		</center>
        </div>
</div>

<!--	<div class="limiter">-->
<!--		<div class="container-login100" style="background-image: url('{% static 'admin/district/images/bg-01.jpg' %}');">-->
<!--			<div class="wrap-login100 p-t-30 p-b-50">-->
<!--				<span class="login100-form-title p-b-41">-->
<!--					Location Registration-->
<!--				</span>-->
<!--				<form class="login100-form validate-form p-b-33 p-t-5" method="post" action="{% url 'location' %}">-->
<!--   				 {% csrf_token %}-->
<!--					<div >-->
<!--					 <div >Select District-->
<!--                        <select id="district" name="district" class="form-select">-->
<!--                            <option selected>Choose district</option>-->
<!--                            {% for d in district %}-->
<!--                            <option value="{{d.districtid}}">{{d.districtname}}</option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->

<!--                    </div>-->
<!--					<div>Enter Location name:<br>-->
<!--						<input type="text" name="locationname" placeholder="Location name">-->
<!--						<span class="focus-input100" data-placeholder="&#xe82a;"></span>-->
<!--					</div>-->



<!--					<div class="container-login100-form-btn m-t-32">-->
<!--						<button class="login100-form-btn">-->
<!--							Register-->
<!--						</button>-->
<!--					</div>-->
<!--					</div>-->

<!--				</form>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->


<!--	<div id="dropDownSelect1"></div>-->



{% include 'admin/footer.html' %}
