
<!DOCTYPE html>
{% load static %}
{% include 'admin/header.html' %}
<style>
    /* Style for the input field */
    .input-field {
        border: none; /* Remove the default border */
        border-bottom: 1px solid black; /* Add a bottom border */
        outline: none; /* Remove the outline when focused */
        padding: 5px 0; /* Optional padding */
    }
</style>
<div class="main-panel">

<div class="content">
	<center>
            <div class="container-fluid">
<div class="col-md-2">

</div>

                    <div class="col-md-8">
                        <div class="card">

							<div class="container-login100">
								<div class="wrap-login100">
							<div class="login100-form-title" style="background-image: url({% static 'admin/img/faces/bg-01.jpg' %});">
					<h2><span class="login100-form-title-1" style="background-color: white">
						<br><br>
						<b>Subcategory Edit</b>
						<br><br>
					</span></h2>
				</div>
							<br>
                           <form class="login100-form validate-form p-b-33 p-t-5" method="post" action="{% url 'subcategoryedit' emp.subcategoryid %}" enctype="multipart/form-data">
   				 {% csrf_token %}
				 <label for="category">Please Select Category:</label><br>

                        <select id="category" name="category" class="input-field">

                            <option value="{{emp.categoryid.categoryid}}">{{emp.categoryid.categoryname}}</option>
                            {% for d in category %}
                            <option value="{{d.categoryid}}">{{d.categoryname}}</option>
                            {% endfor %}
                        </select><br><br>

<!--                    </div><br>-->
					 <label for="subcategoryname">Subcategory Name:</label><br>
    <input type="text" id="subcategoryname" name="subcategoryname" class="input-field" value="{{emp.subcategoryname}}"><br><br>
							    <label for="subcategorydesc">Subcategory Description:</label><br>
    <input type="text" id="subcategorydesc" name="subcategorydesc" class="input-field" value="{{emp.subcategorydesc}}"><br><br>


<!--							   <div class="col-md-8">-->
<!--						 Category Name:-->
<!--                        <select name="category" id="category" class="input">-->
<!--							<option value="{{emp.categoryid.categoryid}}">{{emp.categoryid.categoryname}}</option>-->
<!--							{% for d in category %}-->
<!--                            <option value="{{d.categoryid}}">{{d.categoryname}}</option>-->
<!--                            {% endfor %}-->
<!--						</select>-->

<!--                    </div>-->
<!--							   <br><br>-->
<!--					<div class="col-md-8">-->
<!--					Subcategory name: <input  type="text" name="subcategoryname" value="{{emp.subcategoryname}}" placeholder="Subcategory name">-->

<!--					</div>-->
<!--                                <br><br>-->
<!--					<div class="col-md-8">-->
<!--					Subcategory Description: <input  type="text" name="subcategorydesc" value="{{emp.subcategorydesc}}" placeholder="Subcategory Description">-->

<!--					</div>-->
<!--							   <br><br>-->
<!--					<label>Subcategory Image</label>-->
<!--						<input type="file" name="subcategoryphoto" value="{{emp.subcategoryphoto}}" id="images">-->
<!--						<input type="hidden" name="photoold" value="{{emp.subcategoryphoto}}">-->
                            	<br>
							   <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required" style="display:flex; margin-left: 220px;">

					<label>Subcategory Image: &nbsp;</label>

<input type="file" name="subcategoryphoto" value="{{emp.subcategoryphoto}}" id="images">
<input type="hidden" name="photoold" value="{{emp.subcategoryphoto}}">
							   </div>
<br><br>



<div class="text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>

				</form><br><br><br><br><br>
                        </div>
                    </div>


                </div>
            </div>
				</div>

		</center>
        </div>
</div>








{% include 'admin/footer.html' %}
