{% load static %}
{% include 'shop/header.html' %}
  <script src="{% static 'guest/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {

  $.ajaxSetup({
             headers: {
                 "X-CSRFToken": '{{ csrf_token }}'
             }
         });
                 $('#category').change(function ()
                  {
                     var did = $(this).val();

                     $.ajax({
                 type: "POST",
                 url: '{% url "fillsubcategory" %}',
                 data: { did: did },
                 dataType: "json",
                 success: function (data) {
                     $('#subcategory').empty();

                  var opt = $('<option />'); // here we're creating a new select option with for each city
                  opt.val(0);
                  opt.text('--Select--');
                  $('#subcategory').append(opt);
                 $.each(data, function(key, val)
                 {
                                 var opt = $('<option />'); // here we're creating a new select option with for each city
                                 opt.val(val.subcategoryid);
                                 opt.text(val.subcategoryname);
                                 $('#subcategory').append(opt); //here we will append these new select options to a dropdown with the id 'cities'
                 });
                         }
             });
                     });
                     $('#subcategory').change(function ()
                  {

                     var did = $(this).val();
                     var i=1;
                $.ajax({
                    type: "POST",
                    url: '{% url "fillshopproduct" %}',
                    data: { did: did },
                    dataType: "json",
                    success: function (data) {
                        $('#product').empty();
                        $.each(data, function(key, val) {
                            var row = "<tr><td>" + i++ + "</td><td>" + val.shopproductname + "</td><td>" + val.shopproductdesc + "</td><td>" + val.stock + "</td><td>" + val.price + "</td> </tr>";
                            $('#product').append(row);
                        });

                  }
             });
                     });


    });
</script>

<html>
  <head>
       <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">

<link rel="shortcut icon" type="image/png" href="{% static 'guest/assets/img/favicon.png' %}">
<!-- google font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
<!-- fontawesome -->
<link rel="stylesheet" href="{% static 'guest/assets/css/all.min.css' %}">
<!-- bootstrap -->
<link rel="stylesheet" href="{% static 'guest/assets/bootstrap/css/bootstrap.min.css' %}">
<!-- owl carousel -->
<link rel="stylesheet" href="{% static 'guest/assets/css/owl.carousel.css' %}">
<!-- magnific popup -->
<link rel="stylesheet" href="{% static 'guest/assets/css/magnific-popup.css' %}">
<!-- animate css -->
<link rel="stylesheet" href="{% static 'guest/assets/css/animate.css' %}">
<!-- mean menu css -->
<link rel="stylesheet" href="{% static 'guest/assets/css/meanmenu.min.css' %}">
<!-- main style -->
<link rel="stylesheet" href="{% static 'guest/assets/css/main.css' %}">
<!-- responsive -->
<link rel="stylesheet" href="{% static 'guest/assets/css/responsive.css' %}">
<!-- product section -->
<body class="inner_page contact_page">
      <div class="full_container">
         <div class="inner_container">

            <div id="content">

               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Products</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column1">
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Products</h2>
                                 </div>
                              </div>
                                 <div class="col-lg-8 offset-lg-2 text-center">
<!--                <div class="section-title">-->
  <h3><span class="orange-text">Product</span> Details</h3>
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet-->
<!--                        beatae optio.</p>-->
<!--                </div>-->
            </div>



                                  <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
<div class="row">
            <div class="col-md-6">
                <div class="form-group first">
                    <div class="input-box">
                        <!--            <span class="details">Product Category</span>-->
                        <span>Product Category</span>
                        <select name="category" id="category" class="form-control">
                            <option value="" disabled selected>Category</option>
                            {% for category in category %}
                            <option value="{{category.categoryid}}">{{category.categoryname}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group first">
                    <div class="input-box">
                        <!--              <span class="details">Product Subcategory</span>-->
                        <span>Product Subcategory</span>
                        <select name="subcategory" id="subcategory" class="form-control">
                            <option value="" disabled selected>Subcategory</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
                              </div>
                              <div class="table_section padding_infor_info">
                                 <div class="table-responsive-sm">
                                    <table class="table">
  <thead>
  <tr>
  <th scope="col">Sl.no</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Description</th>
      <th scope="col">Stock</th>
      <th scope="col">Price/Unit</th>
      <th scope="col">Add to list</th>
  </tr>
  </thead>
    <tbody id="product">
  {% for em in shopproduct %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{em.shopproductname}}</td>
        <td>{{em.shopproductdesc}}</td>
        <td>{{em.stock}}  {{em.unitid.unitname}}</td>
        <td>{{em.price}}</td>
        <td><a><button type="button" class="btn btn-success">+</button> </a> </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
        </div>
                                     </section>
                                 </div>
                              </div></div></div></div>
</div>


<script type="text/javascript" src="{% static 'company/assets/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'company/assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'company/assets/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'company/assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'company/assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'company/assets/js/modernizr/modernizr.js' %}"></script>
<!-- am chart -->
<script src="{% static 'company/assets/pages/widget/amchart/amcharts.min.js' %}"></script>
<script src="{% static 'company/assets/pages/widget/amchart/serial.min.js' %}"></script>
<!-- Todo js -->
<script type="text/javascript " src="{% static 'company/assets/pages/todo/todo.js' %}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{% static 'company/assets/pages/dashboard/custom-dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'company/assets/js/script.js' %}"></script>
<script type="text/javascript " src="{% static 'company/assets/js/SmoothScroll.js' %}"></script>
<script src="{% static 'company/assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'company/assets/js/demo-12.js' %}"></script>
<script src="{% static 'company/assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
</section>
                  </div>
               </div>
            </div>
         </div></div>
  </body>
</html>